* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;

}

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

main {
    background-color: var(--Grey-900);
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.card-container {
    width: 100%;
    max-width: 380px;
    background-color: var(--Grey-800);
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

.card-container:hover {
    transform: scale(1.1);
}

.profile-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.profile-image {
    width: 90px;
    border-radius: 50%;
}

.profile-name {
    color: var(--White);
    font-size: clamp(14px, 3vw, 22px);
}

.profile-location {
    color: var(--Green);
    font-size: clamp(8px, 2vw, 14px);
    text-align: center;
}

.profile-desc {
    font-size: clamp(8px, 2vw, 14px);
    color: var(--White);
    padding: 1rem;
}

.socialMedia-container {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 0.55rem;
    width: 100%;
}


.socialMedia-container p {
    padding: 1rem;
    background-color: var(--Grey-700);
    color: var(--White);
    text-align: center;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}

.socialMedia-container p:hover {
    transform: scale(1.1);
    background-color: var(--Green);
    color: var(--Grey-900);
}